:root {
  --color1: #a8ac6a;
  --color2: #fdfeee;
  --color3: #dde0af;
  --color4: #757838;
  --color5: #505310;
}
.grey:root {
  --color1: #acacac;
  --color2: #fefefe;
  --color3: #f4f4f4;
  --color4: #686867;
  --color5: #2e2e2c;
}
.green:root {
  --color1: #c8e0de;
  --color2: #9fb7b5;
  --color3: #78908e;
  --color4: #28403e;
  --color5: #222222;
}
.blue:root {
  --color1: #6e8090;
  --color2: #ffffff;
  --color3: #d7dadd;
  --color4: #284964;
  --color5: #010b15;
}
.pink:root {
  --color1: #d2b0c1;
  --color2: #ffffff;
  --color3: #efe6eb;
  --color4: #a56987;
  --color5: #772c52;
}
body {
  font: 16px/1.5 monospace;
  background: var(--color1);
  color: var(--color5);
  margin: 0;
}
main,
footer,
#header {
  max-width: 1000px;
  margin: 0 auto;
}
#header {
  padding-top: 0;
  user-select: none;
}
button:nth-child(odd),
div:nth-child(odd) {
  margin: 0.4375em 0;
}
.b {
  font-weight: 700;
}
.hs {
  font-size: 0.75em;
  margin: 0;
  text-shadow: none;
}
.ri {
  text-align: right;
}
.ms {
  box-sizing: border-box;
  padding: 1em;
  background: var(--color3);
  border: 1px solid var(--color5);
  overflow: hidden;
  margin: 0;
}
main > .ms {
  border-top: 0;
  margin-top: 0;
}

#header,
button:hover {
  background: var(--color4);
  color: var(--color2);
}

.fl {
  display: flex;
  flex-wrap: wrap;
}

footer {
  color: #333;
}

#outputs,
.wi,
textarea {
  background: var(--color2);
  border: 1px solid var(--color5);
  color: var(--color5);
}

.wi,
textarea {
  width: 100%;
}

#outputs {
  word-wrap: anywhere;
  line-break: anywhere;
  min-height: 7em;
  max-height: 16em;
  overflow: hidden;
  overflow-y: scroll;
  white-space: pre;
}

#separator {
  width: 3ch;
  line-height: 1;
}
#header,
button,
input,
input[type="checkbox"],
label {
  cursor: pointer;
}

button,
input[type="checkbox"],
input[type="text"] {
  border-radius: 3px;
  padding: 0 1em;
  line-height: 3;
  background: var(--color2);
  border: 1px solid var(--color5);
  min-width: 2em;
  min-height: 2em;
  vertical-align: middle;
  accent-color: var(--color5);
}

button:hover {
  border: 1px solid var(--color2);
}

button:active {
  background: var(--color5);
}

#holder {
  position: relative;
}

.txt-shadow {
  text-shadow: var(--color5) -1px -1px 0, var(--color5) -2px -2px 0, var(--color5) -3px -3px 0, var(--color5) -4px -4px 0, var(--color5) -5px -5px 0, var(--color5) -6px -6px 0, var(--color5) -7px -7px 0, var(--color5) -8px -8px 0, var(--color5) -9px -9px 0, var(--color5) -10px -10px 0, var(--color5) -11px -11px 0, var(--color5) -12px -12px 0, var(--color5) -13px -13px 0, var(--color5) -14px -14px 0, var(--color5) -15px -15px 0, var(--color5) -16px -16px 0, var(--color5) -17px -17px 0, var(--color5) -18px -18px 0, var(--color5) -19px -19px 0, var(--color5) -20px -20px 0, var(--color5) -21px -21px 0, var(--color5) -22px -22px 0, var(--color5) -23px -23px 0, var(--color5) -24px -24px 0, var(--color5) -25px -25px 0, var(--color5) -26px -26px 0, var(--color5) -27px -27px 0, var(--color5) -28px -28px 0, var(--color5) -29px -29px 0, var(--color5) -30px -30px 0, var(--color5) -31px -31px 0, var(--color5) -32px -32px 0, var(--color5) -33px -33px 0, var(--color5) -34px -34px 0, var(--color5) -35px -35px 0, var(--color5) -36px -36px 0, var(--color5) -37px -37px 0, var(--color5) -38px -38px 0, var(--color5) -39px -39px 0, var(--color5) -40px -40px 0, var(--color5) -41px -41px 0, var(--color5) -42px -42px 0, var(--color5) -43px -43px 0, var(--color5) -44px -44px 0, var(--color5) -45px -45px 0, var(--color5) -46px -46px 0, var(--color5) -47px -47px 0, var(--color5) -48px -48px 0;
  color: var(--color2);
}

p {
  margin: 0 0 1.5em;
}

h1 {
  font-size: 1.5em;
  line-height: 1em;
}

#copy,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-size: 1.375em;
  line-height: 1.0909em;
  margin-top: 1.0909em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin-top: 1.2em;
}
